@import url('https://fonts.cdnfonts.com/css/dm-sans');
*{
  box-sizing: border-box;
  margin: 0px ;
  padding: 0px;
}
:root{
  --primary:#0f54f0;
  --secondary:#f3a522;
  --shade1:#2765f2;
  --shade2:#3F76F3;
  --shade3:#5386FB;
  --shade4:#6E99FB;
  --shade5:#84A9FF;
  --shade6:#7DA3F9;
  --background-white:#fff;
  --background-2:#f9f8f9;
  --background-3:#EDF4FF;
  
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'DM Sans', sans-serif !important;
}
.side-bar{
  width: 20%;
  background-color: var(--background-white);
  position: fixed;
  height: 100vh;
  margin-top: 25%;  
}
.side-bar-fix{
  width: 20%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.content{
  width: 75%;
  background-color: var(--background-3);
}
.main-container{
  display: flex;
}
.side-bar-content{
  padding: 0;
}
.side-bar-item{
  list-style: none;
  background-color: var(--background-2) ;
  margin-bottom: 2rem;
  cursor: pointer;
  padding: 2rem;
  font-size:2rem;
  border-radius: .5rem;
  transition: all .2s linear;
  font-weight: bold;
}
.side-bar-item:hover{
  background-color: #ebe1e1;
}
.login-container{
  font-size: 2rem;
}
.form-input{
  font-size: 1.4rem;

}
.form-container{
  background-color:var(--background-2);
  padding: 3rem;
  border-radius: 1rem;
  color: black;
}
.content-container{
  padding:1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.place-item{
  cursor: pointer;
}
.place-detail-container{
  font-size: 1.7rem;
  padding: 1rem;
}
.detail-form-input{
  font-size: 1.5rem;

}
.loading-img{
  height: 150px;
  width: 150px;
}
.content-header-text{
  margin-bottom: 2rem;
}
.welcome-area{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.admin-panel-container{
  font-size: 1.5rem;
}
.sign-out-button{
  font-size: 1.5rem;
}
.form-group-container{
  display: flex;
  flex-direction: column;
}